[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31.0"
python-telegram-bot = "~=20.2"
lxml = "~=4.9.2"
python-dotenv = "~=1.0.0"
schedule = "~=1.2.0"
psycopg2-binary = "~=2.9.5"
beautifulsoup4 = "~=4.12.2"
lotify = "~=2.3.4"
flask = "~=2.2.5"
pytest = "~=7.3.1"
pytest-cov = "~=4.1.0"
pytest-datadir = "~=1.4.1"
pytest-html = "~=3.2.0"
pytest-order = "~=1.1.0"
pytest-sugar = "~=0.9.4"
pytest-mock = "~=3.10.0"
coverage = "~=7.2.6"
gunicorn = "~=20.1.0"
pylint = "~=2.17.4"
isort = "~=5.12.0"
black = "~=23.1.0"
pre-commit = "~=3.0.4"
sqlalchemy = "~=2.0.8"
testcontainers = "~=3.7.1"

[dev-packages]

[requires]
python_version = "3.9"
